.contact-container {
    /* height: 60vh; */
    padding: 100px;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.contact-items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.contact-el {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    padding: 10px;
}
.contact-el a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
}
.contact-el-img {
    width: 30px;
}